html{
    height: 100%;
}
body{
    background-image: url(Backgroud1.jpg);
    background-size: initial;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 15;
    height: 100%;
    font-family: verdana;
}
.table{
    border: transparent;
    align:center;
    background: transparent;
    width: 100%;
}
a{
    text-decoration: none;
    text-decoration-line: underline;
}
a:hover{
    color:yellow;
    background-color: greenyellow;
}
.nama{
    text-align: center;
    font-size: 15pt;
    text-transform: capitalize;
    color:blue ;
    font-weight: bold;
    text-decoration-line: none;
}
b{
    align: center;
    color: black ;
}
.judul{
    align:center;
    font-size:30pt;
}
.info{
    color: rgb(0, 255, 13);
    font-weight: bolder;
}
.jawab{
    color:ivory;
    background-color: transparent;
}